
  /* 背景と文字色 */
html {
    background-color: #fffdf6;
  }
.mode {
    background-color: #fffdf6;  
    color: #3D312A;            
  }
  
  /* 入力欄 */
  .input {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #a2a78f;
    padding: 10px;
    border-radius: 6px;
  }
  
  /* ボタン */
  .button {
    background-color: #3D312A;
    color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #666;
  }


  /* グローバルナビ */
.global-nav-container {
  display: flex;
  align-items: center;       /* 縦中央揃え */
  background-color: #fffdf6;
  padding: 10px 20px;
  margin-bottom: 2rem; /* 例: 32pxの空間 */
  border-bottom: 2px solid #3D312A; 
}

.logo img {
  height: 40px;              /* ロゴの高さ調整（適宜変更） */
}

.global-nav {
  list-style: none;
  margin: 0 0 0 auto;        /* 左のマージンを自動で空けて右寄せに */
  padding: 0;
  display: flex;
  
}

.global-nav li:not(:last-child) {
  margin-right: 5px;        /* メニューの間隔 */
}

.global-nav li a {
  position: relative;
  display: inline-block;
  padding: 10px 12px;
  color: #3D312A;
  text-decoration: none;
  font-family: "游ゴシック","Yu Gothic"; font-weight: bold;
}

.global-nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px; /* テキストの下あたりに表示 */
  width: 100%;
  height: 2px;
  background-color: #3D312A;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease;
}

.global-nav li a:hover::after {
  transform: scaleX(1); /* ホバー時に横幅を出す */
}




/* キャラカード一覧（親コンテナ） */
#character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;
  align-items: stretch;
}

/* 各キャラクターカード */
.character-card {
  flex: 1 1 360px;              /* 最小360px、拡大可（自動） */
  max-width: 600px;             /* 最大600pxまで広がる */
  min-height: 200px;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  box-sizing: border-box;
}

.character-card:hover {
  transform: scale(1.02);
}
